.skillsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fdf2ee;
  padding: 60px;
  color: #423c60;

  .subTitle {
    font-size: 38px;
    text-decoration: underline;
    margin-bottom: 20px;
  }

  .skillsList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    margin: 0;
    align-self: flex-start;

    .iconBox {
      background-color: #423c60;
      width: 60px;
      height: 60px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        &.iconImg {
          width: 40px;
          height: 40px;
        }

        &.cssIcon {
          width: 25px;
          height: 40px;
        }

        &.reactIcon {
          width: 55px;
          height: 40px;
        }

        &.gitIcon {
          width: 70px;
          height: 40px;
        }
      }
    }
  }
}
