.skillsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fdf2ee;
  padding: 80px 60px 150px 60px;
  color: #423c60;
  box-sizing: border-box;

  .subTitle {
    font-size: 38px;
    text-decoration: underline;
    margin-bottom: 20px;
  }

  .skillsList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    align-self: flex-start;

    .iconBox {
      background-color: #423c60;
      width: 55px;
      height: 55px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        &.iconImg {
          width: 40px;
          height: 40px;
        }

        &.cssIcon {
          width: 25px;
          height: 35px;
        }

        &.reactIcon {
          width: 55px;
          height: 35px;
        }

        &.gitIcon {
          width: 70px;
          height: 40px;
        }

        &.slackIcon {
          height: 33px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .skillsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .subTitle {
      font-size: 24px;
      align-self: center;
    }

    .skillsList {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 15px;
      align-self: center;

      .iconBox {
        width: 30px;
        height: 30px;
        border-radius: 10px;

        img {
          &.iconImg {
            width: 20px;
            height: 20px;
          }
          &.cssIcon {
            width: 13px;
            height: 18px;
          }

          &.reactIcon {
            width: 35px;
            height: 20px;
          }

          &.gitIcon {
            width: 50px;
            height: 20px;
          }

          &.slackIcon {
            height: 33px;
          }
        }
      }
    }
  }
}
