.projectSection {
  width: 100%;
  padding: 60px;
  color: #423c60;
  background-color: #fdf2ee;
  box-sizing: border-box;

  .title {
    font-size: 50px;
    text-decoration: underline;
    margin-bottom: 50px;
  }

  .cardGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}
