.projectSection {
  width: 100%;
  padding: 60px 60px 120px 60px;
  color: #423c60;
  background-color: #fdf2ee;
  box-sizing: border-box;

  .title {
    font-size: 50px;
    margin-bottom: 80px;
  }

  .cardGrid {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .cardWrapper {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease; /* ← 느리게 */
  }

  .fadeInUp {
    opacity: 1;
    transform: translateY(0);
  }

  .delay0 {
    transition-delay: 0s;
  }
  .delay1 {
    transition-delay: 0.3s;
  }
  .delay2 {
    transition-delay: 0.6s;
  }
  .delay3 {
    transition-delay: 0.9s;
  }
}

@media (max-width: 768px) {
  .projectSection {
    padding: 20px 20px 80px 20px;

    .title {
      font-size: 30px;
      text-align: center;
    }

    .cardGrid {
      display: flex;
      flex-direction: column;

      .reviewImage,
      .bookCoverImg,
      .screenshot {
        display: none;
      }
    }
  }
}
