.mainSection {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding: 60px;
  background-color: #fdf2ee;
  color: #423c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .title {
    margin: 0 0 30px 0;
    font-weight: 700;
    font-size: 50px;
    text-decoration: underline;
    align-self: flex-start;
  }

  .imageWrapper {
    position: relative;
    width: 400px;
    height: 400px;
    margin-bottom: 20px;

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 0.3s ease;
      border-radius: 10px;
    }

    .default {
      z-index: 1;
      opacity: 1;
    }

    .hover {
      z-index: 2;
      opacity: 0;
    }

    &:hover {
      .hover {
        opacity: 1;
      }

      .default {
        opacity: 0;
      }
    }
  }

  .descBox {
    display: flex;
    flex-direction: column;

    .desc,
    .role {
      opacity: 0;
      transform: translateY(-20px);
    }

    .animate {
      animation: slideDownFade 0.8s ease-out forwards;
    }

    .animateDelay {
      animation: slideDownFade 0.8s ease-out 0.8s forwards;
    }

    .desc {
      font-size: 26px;
      line-height: 1.5;
      animation: slideDownFade 0.8s ease-out forwards;
    }

    .role {
      font-size: 26px;
      line-height: 1.5;
      animation: slideDownFade 0.8s ease-out forwards;
      animation-delay: 0.2s;
      margin-bottom: 100px;
    }

    .memo {
      text-align: left;
      margin-bottom: 15px;
    }

    .questionBox {
      width: 800px;
      background-color: #423c60;
      padding: 20px;
      border-radius: 25px;
      color: white;
      line-height: 2.5;
      font-size: 22px;
      text-align: left;
      margin-bottom: 50px;
    }
  }

  .subTitle {
    font-size: 38px;
    align-self: flex-start;
    margin-top: 150px;
    text-decoration: underline;
  }

  .skills {
    display: flex;
    gap: 10px;
    align-self: flex-start;

    .iconBox {
      align-self: flex-start;
      background-color: #423c60;
      width: 60px;
      height: 60px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      .iconImg {
        width: 40px;
        height: 40px;
      }

      .cssIcon {
        width: 25px;
        height: 40px;
      }

      .reactIcon {
        width: 50px;
        height: 40px;
      }

      .gitIcon {
        width: 70px;
        height: 40px;
      }
    }
  }
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
