.section {
  box-sizing: border-box;
  width: 100%;
  padding: 60px;
  background-color: #fdf2ee;
  color: #423c60;

  .title {
    margin: 0;
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 50px;
  }

  .centerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      text-align: center;
      font-size: 30px;
      margin-top: 50px;
    }
  }
}
